USE [master]
GO
/****** Object:  Database [dbLivroReceita]    Script Date: 23/09/2026 11:42:55 ******/
CREATE DATABASE [dbLivroReceita]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbLivroReceita', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDL\MSSQL\DATA\dbLivroReceita.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbLivroReceita_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDL\MSSQL\DATA\dbLivroReceita_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbLivroReceita].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbLivroReceita]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](255) NULL,
	[ItemTipoID] [int] NULL,
 CONSTRAINT [PK_recipeItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientesReceita]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientesReceita](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReceitaID] [int] NULL,
	[IngredienteID] [int] NULL,
	[qtdGramas] [int] NULL,
 CONSTRAINT [PK_usersRecipesIngredients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotaReceita]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotaReceita](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReceitaID] [int] NULL,
	[UsuarioID] [int] NULL,
	[nota] [int] NULL,
 CONSTRAINT [PK_recipesRating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[idIngrediente] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcedimentoReceitas]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedimentoReceitas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userRecipeID] [int] NULL,
	[step] [nvarchar](255) NULL,
	[stepSequence] [int] NULL,
 CONSTRAINT [PK_usersRecipesProcedures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceitaFavorira]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaFavorira](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[ReceitaID] [int] NULL,
	[saved] [int] NULL,
 CONSTRAINT [PK_userFavoriteRecipes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoReceita]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoReceita](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_recipeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposItem]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](255) NULL,
 CONSTRAINT [PK_ItemTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[nome] [nvarchar](255) NULL,
	[senha] [nvarchar](255) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioReceita]    Script Date: 23/09/2026 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioReceita](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[NomeReceita] [nvarchar](255) NULL,
	[TipoReceitaID] [int] NULL,
	[TempoMinutos] [int] NULL,
 CONSTRAINT [PK_userRecipes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_recipeItems_ItemTypes] FOREIGN KEY([ItemTipoID])
REFERENCES [dbo].[TiposItem] ([ID])
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_recipeItems_ItemTypes]
GO
ALTER TABLE [dbo].[IngredientesReceita]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesReceita_Ingrediente] FOREIGN KEY([IngredienteID])
REFERENCES [dbo].[Ingrediente] ([ID])
GO
ALTER TABLE [dbo].[IngredientesReceita] CHECK CONSTRAINT [FK_IngredientesReceita_Ingrediente]
GO
ALTER TABLE [dbo].[IngredientesReceita]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesReceita_UsuarioReceita] FOREIGN KEY([ReceitaID])
REFERENCES [dbo].[UsuarioReceita] ([id])
GO
ALTER TABLE [dbo].[IngredientesReceita] CHECK CONSTRAINT [FK_IngredientesReceita_UsuarioReceita]
GO
ALTER TABLE [dbo].[NotaReceita]  WITH CHECK ADD  CONSTRAINT [FK_recipesRating_userRecipes] FOREIGN KEY([ReceitaID])
REFERENCES [dbo].[UsuarioReceita] ([id])
GO
ALTER TABLE [dbo].[NotaReceita] CHECK CONSTRAINT [FK_recipesRating_userRecipes]
GO
ALTER TABLE [dbo].[NotaReceita]  WITH CHECK ADD  CONSTRAINT [FK_recipesRating_users] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[NotaReceita] CHECK CONSTRAINT [FK_recipesRating_users]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Ingrediente] FOREIGN KEY([idIngrediente])
REFERENCES [dbo].[Ingrediente] ([ID])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Ingrediente]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Usuario]
GO
ALTER TABLE [dbo].[ProcedimentoReceitas]  WITH CHECK ADD  CONSTRAINT [FK_usersRecipesProcedures_userRecipes] FOREIGN KEY([userRecipeID])
REFERENCES [dbo].[UsuarioReceita] ([id])
GO
ALTER TABLE [dbo].[ProcedimentoReceitas] CHECK CONSTRAINT [FK_usersRecipesProcedures_userRecipes]
GO
ALTER TABLE [dbo].[ReceitaFavorira]  WITH CHECK ADD  CONSTRAINT [FK_userFavoriteRecipes_userRecipes] FOREIGN KEY([ReceitaID])
REFERENCES [dbo].[UsuarioReceita] ([id])
GO
ALTER TABLE [dbo].[ReceitaFavorira] CHECK CONSTRAINT [FK_userFavoriteRecipes_userRecipes]
GO
ALTER TABLE [dbo].[ReceitaFavorira]  WITH CHECK ADD  CONSTRAINT [FK_userFavoriteRecipes_users] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[ReceitaFavorira] CHECK CONSTRAINT [FK_userFavoriteRecipes_users]
GO
ALTER TABLE [dbo].[UsuarioReceita]  WITH CHECK ADD  CONSTRAINT [FK_userRecipes_recipeType] FOREIGN KEY([TipoReceitaID])
REFERENCES [dbo].[TipoReceita] ([Id])
GO
ALTER TABLE [dbo].[UsuarioReceita] CHECK CONSTRAINT [FK_userRecipes_recipeType]
GO
ALTER TABLE [dbo].[UsuarioReceita]  WITH CHECK ADD  CONSTRAINT [FK_userRecipes_users] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[UsuarioReceita] CHECK CONSTRAINT [FK_userRecipes_users]
GO
USE [master]
GO
